.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nominations {
  margin: 0;
  display: inline-block;
  line-height: 1.15;
  font-size: 2rem;
  width: auto;
}

.title {
  margin: 0;
  display: inline-block;
  line-height: 1.15;
  font-size: 2rem;
  width: auto;
}

.title,
.description {
  text-align: center;
}

.search {
  display: inline-block;
  padding: 20px;
  width: auto;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

@media (max-width: 760px) {
  .header {
    padding-top: 1em;
    flex-direction: column;
  }
}
